h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: .8em;
}

.banner-title {
    font-family: $montserrat;
    font-weight: bold;
}

.banner-subtitle {
    font-family: $noto-sans;
}

.form-title {
    font-family: $montserrat;
    font-weight: bold;
}

.section-title {
    font-family: $open-sans;
    font-weight: bold;
    font-size: 1.4em;
}