.service-image-1 {
    background-image: url("../../public/images/services-1.png");
    background-size: cover;
    background-position: center;
    min-height: 30vw;
}

.service-image-2 {
    background-image: url("../../public/images/services-2.png");
    background-size: cover;
    background-position: center;
    min-height: 30vw;
}

.service-image-3 {
    background-image: url("../../public/images/services-3.png");
    background-size: cover;
    background-position: center;
    min-height: 30vw;
}

.watermark-image-1 {
    background-image: url("../../public/images/watermark-1.png");
    background-size: cover;
    background-position: center;
    min-height: 30vw;
}

.watermark-image-2 {
    background-image: url("../../public/images/watermark-2.png");
    background-size: cover;
    background-position: center;
    min-height: 30vw;
}

.watermark-image-3 {
    background-image: url("../../public/images/watermark-3.png");
    background-size: cover;
    background-position: center;
    min-height: 30vw;
}